@-webkit-keyframes flip {
    0%{
        -webkit-transform: rotateY(0deg);
    }
    100%{
        -webkit-transform: rotateY(180deg);
    }
}

.flipContainer{
    background-color: transparent;
    height: 160px;
    width: 160px;
    -webkit-perspective: 1000px;
}

.flipCard{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: transform 0.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-name: flip;
    animation-fill-mode: forwards;
}
.flipFront{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}
.flipBack{
    height: 160px;
    width: 160px;
    -webkit-transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
}

.card{
    height: 160px;
    width: 160px;
}

.uncard{
    height: 160px;
    width: 160px;
}

#cardGrid {
    padding-left: 7.5%;
    width: 680px;
}

#cardGrid td{
    padding: 5px;
}

.column1 {
    padding-top: 30px;
    float: left;
    width: 60%;
    text-align: right;
}
.column2 {
    padding-top: 60px;
    padding-left: 5%;
    float: left;
    width: 20%;
    text-align: center;
}

input[type="submit"]{
    border-radius: 8px;
    background-color: #203864;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "Courier New";
    font-weight: bold;
}

input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#leaderboard{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}