body{
    background-color: lightgray;
    font-family: "Courier New";
    text-align: center;
}

h3,h1{
    color: #e84539;
}

.center{
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#mainframe{
    border: 0;
    width: 85%;
    margin-left:auto;
    margin-right:auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #e84539;
}

#cf {
    position: center;

    margin:auto;
}

#cf img {
  position: absolute;
    left: 25%;
    width:50%;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#img2 {
    -webkit-animation-delay: -6s;
}
#img3 {
    -webkit-animation-delay: -4s;
}

#img4{
    -webkit-animation-delay: -2s;
}

.column {
    padding-top: 20px;
    float: left;
    width: 40%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.headshot{
    width: 75%;
}

.video{
    width: 800px;
    height: 450px;
}